<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
  </appSettings>
    <connectionStrings>

      <!--<add name="MultimaxConnectionStringMultimax" connectionString="Data Source=192.168.0.101\NFE,1434;Initial Catalog=Gerenciamento_Multimax;Persist Security Info=True;User ID=operador;Password=c3ll3br@;Min Pool Size=5;Max Pool Size=250;TimeOut=40"
    providerName="System.Data.EntityClient" />-->

      <add name="MultimaxConnectionString" connectionString="Data Source=cellebrasystem.dyndns.org,57000;Initial Catalog=Gerenciamento_trato;User Id=sa;Password=@ngus12e;Min Pool Size=5;Max Pool Size=250;Timeout=20" />

      <add name="MultimaxConnectionStringLocal" connectionString="Data Source=192.168.0.101\NFE,1434;Initial Catalog=Gerenciamento_Felk;Persist Security Info=True;User ID=operador;Password=c3ll3br@;Min Pool Size=5;Max Pool Size=500;TimeOut=60"
          providerName="System.Data.EntityClient" />      
    </connectionStrings>
</configuration>