<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
  </appSettings>
    <connectionStrings>
        <add name="MultimaxConnectionString" connectionString="Data Source=192.168.0.100\NFE,1434;Initial Catalog=Gerenciamento_multimax;Persist Security Info=True;User ID=operador;Password=c3ll3br@;Min Pool Size=5;Max Pool Size=250;TimeOut=40"
            providerName="System.Data.EntityClient" />
        <add name="Nfe.FormApp.Properties.Settings.MultimaxConnectionString"
            connectionString="Data Source=192.168.0.100\NFE,1434;Initial Catalog=Gerenciamento_multimax;Persist Security Info=True;User ID=operador;Password=c3ll3br@;Min Pool Size=5;Max Pool Size=250;TimeOut=40"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>